<html ng-app="jotto">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Jotto</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="lib/angular.js"></script>
<script src="lib/jquery-2.2.4.min.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/angular-timer-all.min.js"></script>
<script src="lib/angular-timer-bower.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
		angular.module("jotto", ['timer']);
		angular.module("jotto").controller("jottoController", function ($scope, $http) {
			$scope.app = "Jotto";

			$scope.tempo = "60";
			$scope.tamanhoPalavra = [ 
					4,5,6,7				
			];

			$scope.jogadores = [
				{nome: "Bruno", avatar: "img/bruno.png"},
				{nome: "Sidney", avatar: "img/sidney.png"},
			];

			$scope.historico = [
			
			];

			$scope.jogadorAtual = {
				nome: "Sidney", avatar: "img/sidney.png"
			};	
			$scope.proximoJogador = {
				nome: "Bruno", avatar: "img/bruno.png"
			};	
			$scope.jogadorAux = {
				
			};

			$scope.palavraDicionario = [
			];


			$scope.getNumber = function(num) { 
				return new Array(num);   
			}

			$scope.sugerirPalavra = function() { 
				$scope.historico.push({nome:$scope.jogadorAtual.nome, avatar: $scope.jogadorAtual.avatar, palavra: $scope.palavra, bolaPreta: 3, bolaBranca: 1});
				$scope.trocarJogador();
				$scope.palavra = "";
			}

			$scope.verificaTempo = function(vTempo) { 
				if(vTempo < 1){
					$scope.trocarJogador();
				}
			}

			$scope.trocarJogador = function() { 
				$scope.jogadorAux = $scope.jogadorAtual;
				$scope.jogadorAtual = $scope.proximoJogador;
				$scope.proximoJogador = $scope.jogadorAux;
				
				<!-- Reseta o contador de tempo -->
				$scope.$broadcast('timer-reset');
       			$scope.$broadcast('timer-start');
			}

			var pesquisarPalavra = function(palavra) { 
				$http.get("http://dicionario-aberto.net/search-json/"+palavra).success(function(data){
					console.log(data.entry);
					$scope.palavraDicionario = data.entry;
				});
			};

			

		});
	</script>
</head>
<body class="" ng-controller="jottoController">

	
		<div class="fundo-preto espaco-header">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-4  ">
						<h4 class="texto-light texto-centralizado cor-branco">Jogador atual</h4>
						<img src="{{jogadorAtual.avatar}}" class="imagem-avatar">						
					</div>
					<div class="col-md-4 col-xs-4  ">
						<h4 class="texto-light texto-centralizado cor-branco">A Palavra possui</h4>
						<div class="texto-negrito texto-centralizado cor-branco" style="font-size: 450%;">{{tamanhoPalavra[1]}}</div>
					</div>
					<div class="col-md-4 col-xs-4  ">
						<h4 class="texto-light texto-centralizado cor-branco">Próximo a jogar</h4>
						<img src="{{proximoJogador.avatar}}" class="imagem-avatar">						
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-branco">{{jogadorAtual.nome}}</h5>
					</div>
					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-branco">Letras</h5>
					</div>
					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-branco">{{proximoJogador.nome}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="espaco">
				<div class="row">
					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-preto">PONTUAÇÃO</h5>
						<h3 class="texto-negrito texto-centralizado cor-preto">0pts</h3>
					</div>

					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-preto">TEMPO</h5>
					 <h3>
					 
						 <timer id="countdown" interval="1000" countdown="tempo" ng-init="verificaTempo(countdown)">    


							<div class="progress">
							  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{100-progressBar}}%;"">
							    {{  countdown+1 }}
							  </div>
							</div>
						</timer>
		            </h3>
						
					</div>

					<div class="col-md-4 col-xs-4  ">
						<h5 class="texto-light texto-centralizado cor-preto">MOEDA</h5>
						<h3 class="texto-negrito texto-centralizado cor-preto">0</h3>
					</div>

				</div>
			</div>
			<div class="espaco" style="padding-bottom: 3%;">
			{{palavraDicionario[0].entry.form.orth}}
				<div class="panel panel-default">
					<div class="panel-heading"><h5 class="texto-negrito cor-preto">Histórico de Palavras Sugeridas</h5></div>
				  <div class="panel-body panel-body-scroll" >
				 		<div class=" texto-centralizado">
							<div class="row animated-if" ng-repeat="jogador in historico">
								<div class="col-md-4 col-xs-4">
									<img src="{{jogador.avatar}}" class="imagem-avatar2">
								</div>
								<div class="col-md-4 col-xs-4">
									<h5>{{jogador.nome}}</h5>
									<h4 class="texto-negrito cor-preto">{{jogador.palavra | uppercase}}</h4>
								</div>
								<div class="col-md-4 col-xs-4">
									<h5>Status da palavra</h5>
									<span ng-repeat="i in getNumber(jogador.bolaPreta) track by $index">
										<i class="fa fa-circle" > </i> 
									</span>
									<span  ng-repeat="i in getNumber(jogador.bolaBranca) track by $index">
										<i class="fa fa-circle-o"> </i> 
									</span>
								</div>							
							</div>
						</div>
					</div>
			 	</div>
			</div>

			<div style="padding-bottom: 1%;">
				<form name="palavraForm">
					<div class="input-group ">
						<input class="form-control" type="text"	placeholder="Digite uma palavra" ng-model="palavra" ng-required="true">	
			      		<span class="input-group-btn">
				      		<button class="btn btn-primary " ng-click="sugerirPalavra()" ng-disabled="palavraForm.$invalid">
					      		&nbsp;
					      		<span class="fa fa-send"> </span>
								&nbsp;
				      		</button>
			      		</span>
	    			</div><!-- /input-group -->
    			</form>
				<div class="espaco">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-warning btn-lg " data-toggle="tooltip" data-placement="top" title="Passar a vez" ng-click="trocarJogador()">
						    <span class="fa fa-reply fa-flip-horizontal"></span>
						</button>
					  </div>
					  <div class="btn-group" role="group">
					     <button type="button" class="btn btn-warning btn-lg " data-toggle="tooltip" data-placement="top" title="Pedir uma dica"> 
						    <span class="fa fa-star "></span>
						</button>
					  </div>
					  <div class="btn-group" role="group">
					     <button type="button" class="btn btn-warning btn-lg " data-toggle="tooltip" data-placement="top" title="Adicionar mais tempo"> 
						    <span class="fa fa-clock-o "></span>
						</button>
					  </div>
					  <div class="btn-group" role="group">
					     <button type="button" class="btn btn-warning btn-lg " data-toggle="tooltip" data-placement="top" title="Diminuir tempo do jogador atual">  
						    <span class="fa fa-clock-o fa-flip-horizontal "></span>
						</button>
					  </div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-warning btn-lg " data-toggle="tooltip" data-placement="top" title="Passar a vez do jogador atual">  
						    <span class="fa fa-reply-all fa-flip-horizontal"></span>
						</button>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--
			<div
				class="navbar navbar-inverse navbar-fixed-bottom fundo-vermelho cor-branco texto-centralizado"
				role="navigation">

				<div class="btn-group fundo-vermelho" role="group" aria-label="...">
					<button type="button" class="btn fa fa-2x fa-share fundo-vermelho"></button>
					<button type="button" class="btn fa fa-2x fa-star fundo-vermelho"></button>
					<button type="button" class="btn fa fa-2x fa-plus-square fundo-vermelho"></button>
					<button type="button" class="btn fa fa-2x fa-minus-square fundo-vermelho"></button>

					<button type="button"
						class="btn fa fa-2x fa-reply-all fa-flip-horizontal fundo-vermelho"></button>

				</div>


			</div>
		-->
</body>
</html>